
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索">
        </div>
    </form>
    <ul class="nav menu">
        <li class="active"><a><span class="glyphicon glyphicon-dashboard"></span>后台菜单</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> 系统管理 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="leftmenu" href="/Admin/Source/index.html" target="rightFrame" data-value="系统管理 -> 溯源系统">
                        <span class="glyphicon glyphicon-share-alt"></span> 溯源系统
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <span class="glyphicon glyphicon-share-alt"></span> 在线监测
                    </a>
                </li>
            </ul>
        </li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> 资讯管理 <span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-2">
                <li>
                    <a class="leftmenu" href="/Admin/Info/index.html" target="rightFrame" data-value="资讯管理 -> 文章管理">
                        <span class="glyphicon glyphicon-share-alt"></span> 文章管理
                    </a>
                </li>
            </ul>
        </li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> 跟我学 <span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-3">
                <li>
                    <a class="leftmenu" href="/Admin/User/index.html" target="rightFrame" data-value="跟我学 -> 用户管理">
                        <span class="glyphicon glyphicon-share-alt"></span> 用户管理
                    </a>
                </li>
                <li>
                    <a class="leftmenu" href="/Admin/Category/index.html" target="rightFrame" data-value="跟我学 -> 分类管理">
                        <span class="glyphicon glyphicon-share-alt"></span> 分类管理
                    </a>
                </li>
                <li>
                    <a class="leftmenu" href="/Admin/Course/index.html" target="rightFrame" data-value="跟我学 -> 课程管理">
                        <span class="glyphicon glyphicon-share-alt"></span> 课程管理
                    </a>
                </li>
                <li>
                    <a class="leftmenu" href="/Admin/Advertisement/index.html" target="rightFrame" data-value="跟我学 -> 广告管理">
                        <span class="glyphicon glyphicon-share-alt"></span> 广告管理
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div><!--/.sidebar-->
