<layout name="Layout/base_layout"  replace="{__CONTENT__}" />

<body>

<div class="wrap">

    <div class="nav">
        <div class="form_title">
            <span>管理员管理</span>
        </div>
    </div>

    <div class="tools">
        <ul class="toolbar">
            <li><a href="{:U('add')}" class="btn J_dialog" title="添加管理员">添加</a></li>
        </ul>
    </div>

    <div class="h_a">搜索</div>
    <div class="search_type cc mb10">
        <form action="{:U('index')}" method="get">
            <ul>
                <li><label>用户名</label><input name="username" type="text" class="input length_2 mr10" value="{$params.username}"></li>
                <li><label>名称</label><input name="name" type="text" class="input length_2 mr10" value="{$params.name}"></li>
                <li><button type="submit" class="btn btn_submit mr20">搜索</button><button type="button" class="btn btn_reset ">重置</button></li>
            </ul>
        </form>
    </div>

    <div class="table_list">
        <table width="100%">
            <thead>
            <tr>
                <th><input name="" type="checkbox" value="" checked="checked"/></th>
                <th>ID<i class="sort"><img src="__IMG__/px.gif" /></i></th>
                <th>用户名</th>
                <th>名称</th>
                <th>手机</th>
                <th>创建时间</th>
                <th>最后登录时间</th>
                <th>最后登录IP</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <foreach name="list" item="manager_account" >
                <tr>
                    <td><input name="" type="checkbox" value="" /></td>
                    <td>{$manager_account.id}</td>
                    <td>{$manager_account.username}</td>
                    <td>{$manager_account.name}</td>
                    <td>{$manager_account.mobile}</td>
                    <td>{$manager_account.gmt_create}</td>
                    <td>{$manager_account.gmt_last_login}</td>
                    <td>{$manager_account.last_ip}</td>
                    <td>{$manager_account.status|\\Common\\Util\\EnumTemplate::getEnumDesc='ManagerAccountStatus'}</td>
                    <td>
                        <a href="{:U('edit',array('id'=>$manager_account['id']))}" class="tablelink J_dialog" title="修改管理员">[修改]</a>
                        <a href="{:U('do_del',array('id'=>$manager_account['id']))}" class="tablelink J_ajax_del" title="删除管理员"> [删除]</a></td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </div>

    <include file="Public:page" />

</div>
<script type="text/javascript" src="__JS__/common.js"></script>

</body>
