<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lumino - Dashboard</title>

    <link href="__CSS1__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS1__/datepicker3.css" rel="stylesheet">
    <link href="__CSS1__/styles.css" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script src="__JS1__/bootstrap.min.js"></script>
    <script src="__JS1__/bootstrap-table.js"></script>

    <script type="text/javascript">
        var GV = {
            JS_ROOT: "__JS__/",
            JS_VERSION: "20141001"
        };
    </script>
    <script type="text/javascript" src="__JS__/Wind.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <style>
        body{
            padding-left:0px;
            padding-top: 0px;
        }
    </style>
</head>
