<layout name="Layout/base_layout"  replace="{__CONTENT__}" />

<body>

<div class="wrap">

    <div class="nav">
        <div class="form_title">
            <span>日志管理</span>
        </div>
    </div>

    <div class="tools">
        <ul class="toolbar">
        </ul>
    </div>

    <div class="h_a">搜索</div>
    <div class="search_type cc mb10">
        <form action="{:U('index')}" method="get">
            <ul>
                <li><label>用户名<!--用户名--></label><input name="username" type="text" class="input mr10 length_2" value="{$params.username}"></li>
                <li><label>请求模块</label><input name="operate_name" type="text" class="input mr10 length_2" value="{$params.operate_name}"></li>
                <li><button type="submit" class="btn btn_submit mr20">搜索</button><button type="button" class="btn btn_reset ">重置</button></li>
            </ul>
        </form>
    </div>

    <div class="table_list">
        <table width="100%">
            <thead>
            <tr>
                <th>ID<i class="sort"><img src="__IMG__/px.gif" /></i></th>
                <th>用户类型<!--用户类型--></th>
                <th>用户名<!--用户名--></th>
                <th>请求模块<!--请求模块--></th>
                <th>请求地址<!--请求地址--></th>
                <th>操作IP<!--IP--></th>
                <th>操作内容<!--操作内容--></th>
                <th>操作详情</th>
                <th>操作时间<!--操作时间--></th>
                <th>状态<!--状态--></th>
                <th data-code-group="log_edit,log_detail,log_del">操作</th>
            </tr>
            </thead>

            <tbody>
            <foreach name="list" item="log" >
                <tr>
                    <td>{$log.id}</td>
                    <td>{$log.account_type|\\Common\\Util\\EnumTemplate::getEnumDesc='UserPlace'}</td>
                    <td>
                        <switch name="log.account_type">
                            <case value="1|3">{$log.u_name}</case>
                            <case value="2">{$log.ma_name}</case>
                        </switch>
                    </td>
                    <td>{$log.operate_name}</td>
                    <td>{$log.operate_url}</td>
                    <td>{$log.ip}</td>
                    <td>{$log.operate}</td>
                    <td>{$log.operate_detail}</td>
                    <td>{$log.gmt_operate}</td>
                    <td>{$log.status|\\Common\\Util\\EnumTemplate::getEnumDesc='LogStatus'}</td>
                    <td data-code-group="log_edit,log_detail,log_del">
                        <a href="{:U('detail',array('id'=>$log['id']))}" class="tablelink J_dialog" title="查看日志" data-code="log_detail">[查看]</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </div>

    <include file="Public:page" />

</div>
<script type="text/javascript" src="__JS__/common.js"></script>

</body>
